* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}


/* Custom header */

.header_menu {
    position: absolute;
    width: 100%;
    z-index: 9999;
    background: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: #05364d;
    padding: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #efb6df;
}

.navbar-light .navbar-nav li.active .nav-link {
    color: #efb6df;
}

.header_menu .menu_nav {
    width: 100%;
    margin-left: 140px;
}

#mainNav {
    background-color: transparent;
    transition: background-color 0.2s ease;
    width: 100% !important;
}

.header_menu.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateY(70px);
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
}


/* Banner area */

.home_banner_area {
    background: url('/Image/banner/xhome-banner.png.pagespeed.ic.2CPOYBkyjE.webp') no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.heading-1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.home_banner_area .banner_inner {
    width: 100%;
    min-height: 890px;
}

.banner_content {
    text-align: left;
}

.banner_content {
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
}

.home_right_img {
    padding-top: 197px;
}

.social_icons a,
.social_icons a:hover {
    text-decoration: none;
    color: rgb(150, 159, 166);
}

.social_icons span {
    font-size: 20px;
}

.work_button a {
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.work_button a:hover {
    background-position: right center;
    color: #fff;
}

.primary_btn {
    display: inline-block;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    color: #fff;
    letter-spacing: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    padding: 0 38px;
    outline: none!important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
}


/* //about// */

.main-div {
    margin-top: 6rem;
}


/* Counter */

.count h2 {
    color: rgb(137, 50, 191);
}

.count {
    background-color: rgb(248, 250, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/* //service */

.service {
    background-color: rgb(248, 250, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-right: 10px;
}

.service_link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid rgb(213, 38, 166);
}

.service_link:hover {
    background: #5f30ff;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

div.service:hover {
    background: #5f30ff;
    color: #fff;
}


/* carosel */

.carousel {
    padding: 0 70px;
}

.carousel .carousel-item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}

.carousel .carousel-item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 10px;
}

.carousel .overview {
    font-style: italic;
}

.carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 30px;
    line-height: 12px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 1px 3px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: #555;
}


/* /portfolio */

.portfolio-item {
    position: relative;
    padding-bottom: 56.25%;
    box-shadow: 0 20px 50px -20px rgb(0 0 0 / 50%);
    border-radius: 10px;
    overflow: hidden;
}

.portfolio-item .portfolio-link {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 50px -20px rgb(0 0 0 / 50%);
}

.portfolio-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 30px;
    opacity: 0;
    transition: all .3s ease 0s;
    margin: 0;
}

.portfolio-item .portfolio-link:hover .portfolio-hover {
    opacity: 1;
}

.portfolio-hover h2 {
    color: #fff;
    border-bottom: 3px solid #ea2027;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    display: inline-block;
    padding-right: 10px;
}

.portfolio-details h2 {
    font-weight: 600;
}

.portfolio-hover p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #fff;
}

.button_link h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 86px 30px;
    font-size: 24px;
    margin: 0;
    line-height: 1;
    background: #ea2027;
    border: none;
    color: #fff;
}


/* blog */

.blog .card {
    background-color: #f8faff;
}

.blog_link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.blog .card:hover {
    background-color: #fff;
}

.blog_link:hover {
    text-decoration: none !important;
    color: black;
}

.blog_link_design {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid rgb(213, 38, 166);
}

.blog_link_design:hover {
    text-decoration: none !important;
    color: black;
}


/* footer */

footer {
    background-color: rgb(2, 16, 23);
}

footer .tab_link {
    color: #fff;
    text-decoration: none;
}

footer .tab_link:hover {
    color: purple
}

footer .fa_link {
    color: #000;
}

footer .fa_link:hover {
    color: #7AA641;
}

footer .footer_link {
    color: rgb(163, 73, 164);
    text-decoration: none;
}

footer .footer_link:hover {
    color: blue;
}


/* blog page */

.banner_blog_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    background: url('/Image/banner/xcommon-banner.png.pagespeed.ic.6oIu2tVgyg.webp') no-repeat right bottom;
    background-size: cover;
    z-index: 1;
}

.banner_blog_content a,
a:hover {
    text-decoration: none;
    color: #fff;
}

.blog_deatils {
    position: relative;
    box-shadow: 0 10px 20px 0 rgb(221 221 221 / 30%);
}

.blog_deatils .date {
    position: absolute;
    bottom: 150px;
    left: 19px;
    display: block;
    color: #fff;
    background: #1345e6;
    padding: 6px 34px;
    border-radius: 5px;
}

.blog_deatils h2 {
    font-size: 20px;
    font-weight: bold;
}

.blog_deatils .post-link {
    color: #000;
}

.tag_link {
    color: #6c757d!important;
}

.blog-pagination ul li a {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0!important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px;
}

.category,
.recent_post,
.newsletter {
    background: #fbf9ff;
    padding: 15px;
    margin-bottom: 25px;
}

.widget-title {
    font-size: 20px;
    font-weight: 700;
}

.widget-title::after,
.category p::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
}

.post_image img {
    max-width: 40%;
}

.post_description a {
    color: black;
}

.post_description a:hover {
    color: blue;
}


/* Portfolio-filter */

.portfolio_filter ul {
    display: flex;
    margin-bottom: 10px;
}

.portfolio_filter ul li {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

.portfolio_filter ul li.active {
    color: blue;
}

/* contact-us */

.contact_area{
    background: url('/Image/contact/crew-unsplash.jpg') no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.contact-inner{
    position:absolute;
    width: 100%;
    min-height: 500px;
    top: 90px;
}
.contact-title h2{
    font-size: 50px;
    font-weight: bold;
}
.contact-title span{
    font-size: 50px;
}


.form-button{
    display: inline-block;
    background-color: orangered;
    color: #fff;
    letter-spacing: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    padding: 0 50px;
    outline: none!important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0px;
    background-size: 200% auto;
}

.contact-logo .design{
    width: 70px;
    height: 70px;
    background-color: #6c757d;
}

.contact-logo .design span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}


@media screen and (max-width: 720px) {
    .home_banner_area {
        display: none;
    }
    .navbar {
        padding: 0px;
    }
    .navbar .navbar-brand {
        padding: 0.5rem 1rem;
    }
    .navbar button {
        margin-right: 10px;
    }
    .header_menu {
        position: sticky !important;
    }
    #navbarResponsive {
        background-color: #fff;
        padding-left: 16px;
    }
    .menu_nav li a {
        padding: 10px 0px !important;
    }
    .count {
        margin-top: 20px;
    }
    .service {
        margin-top: 20px;
    }
    .heading-1 {
        font-size: 1.5rem;
    }
    .service h2.headings {
        font-size: 1.6rem;
    }
    .my-footer li {
        display: block !important;
    }
    .visit_customer {
        padding-top: 50px!important;
    }
    .blog_deatils .date {
        bottom: 221px !important;
    }
    .portfolio_filter ul {
        columns: 2 !important;
        display: block;
    }
}

@media screen and (max-width: 1025px) {
    .menu_nav {
        margin-left: 0px !important;
    }
    #navbarResponsive {
        background-color: #fff;
    }
    .home_right_img {
        padding-top: 280px;
    }
    .service h2.headings {
        font-size: 1.6rem;
    }
    .heading-1 {
        font-size: 1.5rem;
    }
    .main_menu {
        background-color: #fff;
    }
    .navbar_nav {
        background-color: #8034c3 !important;
    }
}

@media screen and (max-width: 770px) {
    .service h2.headings {
        font-size: 1rem;
        font-weight: bold;
    }
    .banner_content h1 {
        font-size: 40px;
    }
    .banner_content h5 {
        font-size: 15px;
    }
    .home_right_img {
        padding-top: 412px;
    }
    .heading-1 {
        font-size: 1.5rem;
    }
    .main_menu {
        background-color: #fff;
    }
    #navbarResponsive {
        background-color: #fff;
        width: 100% !important;
    }
    .banner_blog_content h2 {
        font-size: 2.5rem !important;
    }
    .portfolio_filter ul {
        columns: 2 !important;
        display: block;
    }
}
